button { outline: none; }
body { 
    height: 100%; 
    width: 100%; 
    margin: 0; 
}
/* Khung game */
#container { 
    position: relative; 
    height: 480px; 
    width: 350px; 
    border: 1px solid #ccc; 
    background: url('../sprites/bg.png'); 
    overflow: hidden; 
    margin: 80px auto; 
}
/* Con chim */
#bird { 
    position: absolute; 
    background: url('../sprites/bird.jpg'); 
    height: 42px; 
    width: 65px; 
    background-size: contain; 
    background-repeat: no-repeat; 
    top: 20%; 
    left: 15%; 
}
/* Ống nước */
.pole { 
    position: absolute; 
    height: 170px; 
    width: 60px; 
    background: url('../sprites/pipe.jpg') no-repeat center/cover; 
    right: -64px; 
    border: 2px solid #000; 
}
/* Ống trên */
#pole_1 { 
    top: 0; 
    border-top: none; 
    transform: rotate(180deg); 
    border: none; 
}
/* Ống dưới */
#pole_2 { 
    bottom: 0; 
    border-bottom: none; 
    border: none; 
}
/* Điểm */
#score { 
    font-size: 100px; 
    position: absolute; 
    width: 100%; 
    text-align: center; 
    padding: 10px; 
    color: #555; 
}

/* Nút chơi lại */
#restart_btn { 
    position: absolute; 
    top: 0; 
    width: 100%; 
    padding: 20px; 
    background-color: #fff; 
    color: #555; 
    font-size: 35px; 
    border: 1px solid #e5e5e5; 
    cursor: pointer; 
    display: none; 
}
/* Nút chơi game */
#play_btn { 
    display: block; 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    background-color: transparent; 
    border: 0; 
    font-size: 30px; 
    color: #555; 
}
#level {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
#best_score {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
.powerup {
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}
.powerup[data-type="coin"] { 
    background-image: url('../sprites/coin.jpg'); 
}
.powerup[data-type="heart"] { 
    background-image: url('../sprites/heart.jpg'); 
}
.powerup[data-type="slow"] { 
    background-image: url('../sprites/clock.jpg'); 
}
.powerup[data-type="shield"] { 
    background-image: url('../sprites/shield.jpg'); 
}